	<footer role="contentinfo">
		<div class="hr"></div>
		<div class="footer-links">
            <ul>
                {{ with .Site.Params.obfuscated_email }}<li><script>{{ . | safeJS }}</script>{{ end }}</li>
                {{ with .Site.Params.github }}<li><a href="{{ . }}" target="_blank" rel="noopener">GitHub</a>{{ end }}</li>
                {{ with .Site.Params.linkedin }}<li><a href="{{ . }}" target="_blank" rel="noopener">LinkedIn</a>{{ end }}</li>
                <li><a href="/page/about/">About me</a></li>
                <li><a href="http://feeds.feedburner.com/signal-to-noise">RSS</a></li>
            </ul>

		</div>
		<div class="copyright">{{ .Site.Copyright | safeHTML }}</div>
	</footer>
</div>
{{ if .Param "hasMath" }}
{{ $js := resources.Get "js/katex.js" | resources.Minify | resources.Fingerprint }}
<script defer src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.querySelector('.container main'), {
          delimiters: [
              {left: '$$', right: '$$', display: true},
              {left: '$', right: '$', display: false},
          ],
          throwOnError : false
        });
    });
</script>
{{ end }}
<script defer src="//instant.page/5.1.1" type="module" integrity="sha384-MWfCL6g1OTGsbSwfuMHc8+8J2u71/LA8dzlIN3ycajckxuZZmF+DNjdm7O6H3PSq"></script>
</body>
</html>
