<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
  {{ $isHomePage := eq .Title .Site.Title }}
  <title>{{ .Title }}</title>
  <meta name="description" content="{{ .Params.summary }}">
  <script async defer data-domain="signal-to-noise.xyz" src="https://plausible.io/js/plausible.js"></script>
  {{ partial "head.html" }}
</head>
<body>

<div class="container">

	<header role="banner">
		<div class="header-logo">
			<a href="/"><img src="{{ .Site.Params.logo }}" width="60" height="60" alt="{{ .Site.Title }}"></a>
		</div>
		{{ if eq $isHomePage true }}<h1 class="site-title">{{ .Site.Title }}</h1>{{ end }}
	</header>
