{{ partial "header-with-index-data.html" . }}

{{ $baseurl := .Site.BaseURL }}

<main class="main-content" role="main">
{{ range (where .Site.RegularPages ".Params.hidefromhome" "!=" "true") }}
    <article>
      <div class="post-meta">
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <span><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time>, {{ .Params.author }}</span>
      </div>
      <div class="post-tags">
        {{ range .Params.tags }}
            <a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      </div>
    </article>
{{ end }}
</main>

{{ partial "footer.html" . }}
