{{ partial "header-with-post-data.html" . }}

{{ $baseurl := .Site.BaseURL }}

<main role="main">
    <article class="main-content">
        <div class="post-meta">
          <h1>{{ .Title }}</h1>
          <span>
            <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time>, {{ .Params.author }}</span>
        </div>
        <div class="post-tags">
          {{ range .Params.tags }}
              <a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a>
          {{ end }}
        </div>
        {{ .Content }}
    </article>
</main>

{{ if .Param "hasDisqus" }}
{{ partial "disqus.html" . }}
{{ else }}
{{ partial "replybox.html" . }}
{{ end }}

{{ partial "footer.html" . }}
